In [1]:
import gtab
import pandas as pd

In [4]:
df = pd.read_excel('victum_list.xlsx', sheet_name='At')

In [5]:
df

,predater,name,2015-01-01 00:00:00,2015-02-01 00:00:00,2015-03-01 00:00:00,2015-04-01 00:00:00,2015-05-01 00:00:00,2015-06-01 00:00:00,2015-07-01 00:00:00,2015-08-01 00:00:00,...,2017-10-01 00:00:00,2017-11-01 00:00:00,2017-12-01 00:00:00,2018-01-01 00:00:00,2018-02-01 00:00:00,2018-03-01 00:00:00,2018-04-01 00:00:00,2018-05-01 00:00:00,2018-06-01 00:00:00,2018-07-01 00:00:00
0,Sean Hannity,Debbie Schlussel,0,0,0,0,0,0,0,0,...,50,103,148,182,206,214,221,230,233,240
1,Eric Bolling,Caroline Heldman,0,0,0,0,0,0,0,0,...,50,103,148,182,206,214,221,230,233,240
2,Charles Payne,Scottie Nell Hughes,0,0,0,0,0,0,0,0,...,50,103,148,182,206,214,221,230,233,240
3,Harry Knowles,Gloria Walker,0,0,0,0,0,0,0,0,...,50,103,148,182,206,214,221,230,233,240
4,Lockhart Steele,Eden Rohatensky,0,0,0,0,0,0,0,0,...,50,103,148,182,206,214,221,230,233,240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,Jorge Dom√≠nguez,Terry Karl,0,0,0,0,0,0,0,0,...,50,103,148,182,206,214,221,230,233,240
78,Sean Hutchison,Ariana Kukors,0,0,0,0,0,0,0,0,...,50,103,148,182,206,214,221,230,233,240
79,Brent Hamilton,Sara Rabuse,0,0,0,0,0,0,0,0,...,50,103,148,182,206,214,221,230,233,240
80,Phillip Deitrich,Jamie Leigh Hogan,0,0,0,0,0,0,0,0,...,50,103,148,182,206,214,221,230,233,240
81,John Kenneally,Mary Frances Pulizzi,0,0,0,0,0,0,0,0,...,50,103,148,182,206,214,221,230,233,240

In [ ]:
t = gtab.GTAB()
t.set_options(pytrends_config={"timeframe": "2016-06-30 2018-12-31"})
t.create_anchorbank()

In [12]:
t.set_active_gtab("google_anchorbank_geo=_timeframe=2016-06-30 2018-12-31.tsv")

Active anchorbank changed to: google_anchorbank_geo=_timeframe=2016-06-30 2018-12-31.tsv

In [34]:
predater = df['predater'].drop_duplicates()

In [67]:
predater = predater['predater'].tolist()

In [45]:
predater = predater.reset_index().drop(['index'], axis=1)

In [16]:
victum = df['name'].drop_duplicates().reset_index().drop(['index'], axis=1)

In [ ]:
victum[45:]

In [18]:
def calibrate(nameList, result):
    for name in nameList:
        query = t.new_query(name)
        #print(query)
        if type(query) == int:
            print(f'This name {name} is weird')
        else:
            query = query.rename(columns={"max_ratio": name}).drop(['max_ratio_hi', 'max_ratio_lo'], axis=1)
            result.append(query)
            
    return result

In [ ]:
calibrate(victum[45:], vList)

In [87]:
len(vList)

77

In [92]:
pName = pList[0]

In [94]:
for i in range(len(pList)):
    if i != 0:
        pName = pd.concat([pName, pList[i]], axis=1)

In [96]:
pName.to_csv('predater.csv')

In [97]:
vName = vList[0] # some victum are weird, need to check

In [98]:
for i in range(len(vList)):
    if i != 0:
        vName = pd.concat([vName, vList[i]], axis=1)

In [100]:
vName.to_csv('victum.csv')